body{
  background: rgb(231, 231, 231)
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
nav{
  width:100%;
  background: black;
  overflow: auto;
  position: fixed;
  top:0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  float: left;
}
a.one{
  padding: 20px;
  width: 100px;
  display: block;
  text-decoration: none;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  hover {font-size:150%;}
}
#home{
  height:100px;
  display: inline-block;
  width: 100%;
}
#schedule{
  height: 200px;
  display: inline-block;
  width: 100%;
}
#evidence{
  height: 200px;
  display: inline-block;
  width: 100%;
}
h1{
  margin: 100px;
  text-align: left;
  padding-top: 10px;
}
p{
  margin: 100px;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
table{
  margin: 0 auto;
}
.collapsible {
  background-color: rgb(204, 200, 200);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(233, 227, 227);
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(231, 231, 231);
}
